<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

  <script src="https://d3js.org/d3.v7.min.js"></script>
  <link rel="stylesheet" type="text/css" href="css/styles.css">

  <title>Spotify Songs' Specs</title>
</head>

<body>
  <%- include("partials/header") -%>
  <h1>You're now on the home view!</h1>
  <h2>Playlists' Names</h2>

  <div id="Graph1">
    <img src="assets/base_grafico_circular-01.png" alt="" aria-hidden>
  </div>
  <div id="Graph2">
    <img src="assets/base_grafico_circular-01.png" alt="" aria-hidden>
  </div>

  <span id="variable1" hidden style="display: none"><%- JSON.stringify(playlists) %></span>
  <span id="variable2" hidden style="display: none"><%- JSON.stringify(savedTracks) %></span>

  <%- include("partials/footer") -%>

  <script type="text/javascript" src="js/script.js"></script>
  <script type="text/javascript" src="js/visualization.js"></script>

</body>

</html>
