<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Spotify Songs' Specs</title>
</head>

<body>
  <%- include("partials/header") -%>
  <h1>You're now on the home view!</h1>
  <h2>Playlists' Names</h2>

  <%- include("partials/footer") -%>

  <span id="variablesEJS" hidden style="display: none"><%- JSON.stringify(playlists); %>|<%- JSON.stringify(savedTracks); %></span>
  <script type="text/javascript" src="js/script.js"></script>
  <script type="text/javascript" src="js/visualization.js"></script>

</body>

</html>
