<<<<<<< HEAD
#Graph1, #Graph2 {
  display: inline-block;
  width: 50vw;
  min-height: 100vh;
=======
#title_index{
  width: 100%;
  text-align: center;
}
#info_index{
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
}
#login {
  display: block;
  position: absolute;
  left: 50%;
  top:50%;
  transform: translateX(-50%) translateY(-50%);
}
#ClientID{
  margin-bottom: 10px;
}
#ClientSecret{
  margin-bottom: 15px;
}
#submit_login{

}

#loggedin {
  display: block;
>>>>>>> ea33564ffb258511f44448487ca1ffe00984dcf5
}


body{
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: row;
}

.inline{
  display: inline-block;
}

/*    CANTO SUPERIOR ESQUERDO    */

#esquerdo{
  display: inline-block;
  width: 50vw;
  height: 100vh;
}

/*    ABOUT    */
#info_about, #info_track{
  width: 20px;
  height: auto;
}

/*    SWITCH    */

#switch_years_playlist, #switch_global_detailed{
  margin-right: 50px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #313131;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #313131;
}

input:focus + .slider {
  box-shadow: 0 0 1px #313131;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/*    MENU GENRES    */
#menu{
  height: 40vh;
  background-color: #0D9BF2;
}
.dot{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
}
#dot_rock{
  background-color: #28AE57;
}
#dot_rb{
  background-color: #F2BB0D;
}
#dot_indie{
  background-color: #0D9BF2;
}
#dot_funk{
  background-color: #0BCFC9;
}
#dot_country{
  background-color: #9E64F7;
}
#dot_pop{
  background-color: #E1650C;
}
#dot_classical{
  background-color: #F993BF;
}
#dot_jazz{
  background-color: #C1C1C1;
}
#dot_all{
  background-color: #FFFFFF;
}

#coluna1_genres, #coluna2_genres, #coluna3_genres, #coluna4_genres{
  display: inline-block;
  width: content-box;
}

#rock, #country, #funk, #indie, #rb, #jazz, #classical, #pop, #all{
  margin-right: 30px;
}

/*    CANTO INFERIOR ESQUERDO    */
#menu_global{
  height: 60vh;
  background-color: #28AE57;
}

/*    DROPDOWN    */
#dropdown_global_close{
  background-color: #313131;
}
#seta_dropdown{
  width: 15px;
  height: auto;
}

/*    DIREITA    */
/*    AGULHA DESENHO    */
#agulha{
  height: 400px;
  width: auto;
}

#global{
  display: inline-block;
  background-color: #9E64F7;
  width: 50vw;
  height: 100vh;
}

#detail{
  display: none;
}